.summer{

    height:100vh;
    width:100%;
    margin-top:5rem;
    
}

.heading-essentials{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.heading-essentials h2{

    font-size: 2.3rem;
    font-weight: bolder;
    color: #111;
    margin-bottom: 1rem;
    cursor:pointer;

}

.heading-essentials h5{

    font-size: 14px;
    font-weight: 400;
    color: #111;
    margin-bottom: 1rem;
    cursor:pointer;


}

.btns{

    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap:1rem;


}

.btns button{
    
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        color: white;
        background-color: black;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        /* transition: all 0.3s ease; */
}

@media screen and(max-width: 767px) {

    .btns{

        margin-top: 1rem;
    }


    
}

