.energy{

    width:100%;
    height:40vh;
    margin-top: 5rem;
}

.energy_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.energy_container .text-energy{

    font-size: 3rem;
    font-weight: bolder;
    cursor: pointer;
}

.energy_container h5{

    margin-top: 20px;
    font-size: 12px;
}