.energy{

    width:100%;
    height:40vh;
    margin-top: 5rem;
}

.energy_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.energy_container .text-energy{

    font-size: 3rem;
    font-weight: bolder;
    cursor: pointer;
}

.energy_container h5{

    margin-top: 20px;
    font-size: 12px;
}

.energy_container button{

    margin-top: 20px;
    padding:20px;
    border-radius: 10px;
    background-color: black;
    color:white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5);
}



.fresh-styles{

    width:100%;
    height:70vh;
    margin-top: 5rem;
}

.fresh-cont{
    
        display: flex;
        flex-direction: row;
        width:90%;
        
        /* margin-left:auto; */

        /* margin-right:auto; */

        justify-content: center;
        align-items: center;
        /* margin:auto; */
        margin-top: 1.2rem;
        gap:10rem;
        /* margin-right:200rem; */
    }
    
.fresh-img{
        
    /* gap:1.4rem; */
    width:20%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fresh-img .img-style{

    width:400px;
    height:450px;
    /* margin-right:20px; */
    cursor: pointer;
    object-fit: cover;
}

.price-details{

    margin-top:15px;
}

.price-details .text-dress{

    text-align: center;
    margin-top:2px;
}

.text-dress .price{

    font-size: 1.2rem;
    font-weight: bolder;
}

@media screen and (max-width:768px){

    .energy{

        margin-top:10px;
    }

    .energy_container{

        margin:auto;
    }

    .energy_container .text-energy{

        text-align: center;
    }


}