.nike{

    
    width:100%;
}

.nike-main{

    display: flex;
    flex-direction: row;
    /* max-width:1024px; */
    justify-content: space-between;
    
}

.left{
    margin-left: 2rem;

}

.left .nike-icon{

    font-size: 3.4rem;
}

.middle{

    
}