.nike{

    position: relative;
    width:100%;
    /* position: relative; */
}

.nike-main{

    display: flex;
    flex-direction: row;
    /* max-width:1024px; */
    justify-content: space-between;
    align-items: center;
    
}

.left{
    margin-left: 2rem;

}

.left .nike-icon{

    font-size: 3.4rem;
    cursor: pointer;
}

.middle{

    display: flex;
    flex-direction: row;
    gap:2rem;
    
}

.new{

    position: relative;
}


.new label{

    cursor: pointer;
    transition: all 0.5s ease-in-out 0.3ms;
}

.new label:hover{

    border-bottom: 3px solid black;
}

.right{

    display: flex;
    flex-direction: row;
    gap:3rem;
}

.search{

    border-radius: 2rem;
    width:fit-content;
    background-color: #f5f5f5;
    padding:0.4rem;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
}

.search:hover{

    background-color: #d3d0d0;

}

.icon-search{

    padding:0.3rem;
    transition: all 0.3s ease-in-out;
}

.search-icon{

    font-size: 1.4rem;
    cursor: pointer;

}

.icon-search:hover{

    border-radius: 2rem;
}

.search-box{

    border: none;
    height:2rem;
    padding: 0.4rem;
    background-color: #f5f5f5;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;

}

.search-box:hover{

    background-color: #d3d0d0;


}

.search-box::placeholder{

    font-size: 1.2rem;
}

.search-box:focus-visible{

    border: none;
    outline: none;
}

.icons-nike{

    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.icon-heart{

    margin-left: 2rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.icon-hearts{

    margin-left: 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    display:none;

}

.new-featured{

    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 0.1rem;
    width: 55vw;
    /* justify-content: space-between; */
    gap:10rem;
    padding:3rem;
}

.hide-newFeatured{

    display:none;
}

.newarrivals-featured{

    display: flex;
    flex-direction: column;
    gap:2rem;
}

.gender{

    display: flex;
    flex-direction: column;
    gap:2rem;
}

.new-arrivals .title{

    margin-bottom: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.new-arrivals p{

    cursor: pointer;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.new-arrivals p:hover{

    color:#a8a5a5;

}

/* .backdrop{

    position:absolute;
    background-color: #a8a5a5;
    display: flex;
    flex-direction: row;
    height:100vh;
    width:100%;
}
 */


        /* for tablets */

 @media screen and (max-width:768px) {

    .nike{

        width:100%;
        /* background-color: red; */
    }

    .nike-main{

        max-width:768px;
        width:100%;


    }

    .right{

        gap:0;
    }

    .left{

        margin-left: 0;
    }

    .icon-heart{

        display: none;
    }

    .middle{


        display:none;
    }

    .icon-hearts{
        
        display:block;
        /* margin-left: 2rem; */
        font-size: 1.6rem;
        cursor: pointer;

    }

    .icons-nike{

        margin-right: 0;
    }

    side{

        width:200vw;
        /* background-color: red; */
    }

    .menu{

        width:100vw;
        /* background-color:red; */
    }


    
 }



        /* STYLES FOR THE MENU */

side{

    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    /* height:100%; */
    
}

/* .hide-side{

    margin-left: -20rem;


} */

 /* .show-side{

    margin-left: 0;

} */

.menu{

    display: flex;
    flex-direction: column;
    height:100vh;
    width:35%;
    background-color: white;
    /* background-color: brown; */

}

.side-nav .close{


    float:right;
    margin-top:1.3rem;
    font-size: 1.4rem;
    cursor:pointer;
    /* right:0; */
}

.side-content{

    margin-top: 4rem;


}

.new-arrivals{

    display: flex;
    flex-direction: row;
    width:180px;
    margin-top: 1.2rem;
    margin-left: 10px;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* gap:4rem; */
    
}

.new-arrivals h3{

    cursor: pointer;
}

.new-arrivals .right-arrow{

    /* text-align: center; */
    margin-left: 18px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    cursor: pointer;
    /* align-items: center; */
}

.nike-member{

    margin-top:3rem;
    padding: 5px;
}

.nike-member h3{

    font-size: 17px;
    line-height: 22px;
}

h3 .learn-more{

    font-weight: bolder;  
}

.join-btns{

    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    gap:1rem;
    margin-top: 4rem;
}

.join-btns .join{

    background-color: rgb(29, 26, 26);
    color:white;
    padding:12px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}


.join-btns .sign{

    padding:12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 14px;
    border: none;

}
