.nike{

    
    width:100%;
}

.nike-main{

    display: flex;
    flex-direction: row;
    /* max-width:1024px; */
    justify-content: space-between;
    align-items: center;
    
}

.left{
    margin-left: 2rem;

}

.left .nike-icon{

    font-size: 3.4rem;
    cursor: pointer;
}

.middle{

    display: flex;
    flex-direction: row;
    gap:2rem;
    
}


.new label{

    cursor: pointer;
}

.right{

    display: flex;
    flex-direction: row;
}