.main-footer{

    width:100%;
    background-color: black;
    margin-top: 7rem;

}

.inner-footer{

    display:flex;
    flex-direction:row;
    justify-content: center;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    gap:5rem;
}

.footer-1 {

    color:white;
    margin-top: 3rem;
    
}

.footer-1 h5{

    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;

}

.footer-2{

    margin-top: 3rem;
}

.footer-2 h5{

    color:white;
    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;

}

.footer-2 h6{

    color:rgb(134, 133, 133);
    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;

    /* margin-top: 1rem; */
}

.links{

    margin-top: 3rem;
    /* background-color: red; */
    width:200px;
    height:200px;
    display: flex;
    flex-direction: row;
}



.icons-links{
    
    background-color: rgb(134, 133, 133);
    color:black;
    margin-right: 20px;
    padding:8px;
    font-size: 40px;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out 0.2ms;
}

.icons-links:hover{

    background-color: white;
}

@media screen and (max-width:768px){

    .inner-footer{

        width:100%;
        gap:1rem;
    }


}