.main-footer{

    width:100%;
    background-color: black;
    margin-top: 7rem;

}

.inner-footer{

    display:flex;
    flex-direction:row;
    justify-content: center;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    gap:5rem;
}

.footer-1 {

    color:white;
    margin-top: 3rem;
    
}

.footer-1 h5{

    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;

}

.footer-2{

    margin-top: 3rem;
}

.footer-2 h5{

    color:white;
    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;

}

.footer-2 h6{

    color:rgb(134, 133, 133);
    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;

    /* margin-top: 1rem; */
}

.icons-links{

    color:black;
    background-color: rgb(134, 133, 133);
}