.mom-sec{

    width:100%;
    height:70vh;
    margin-top: 5rem;
    /* position: relative; */

}

.nike-moms{

    /* position: absolute ; */
    width:90%;
    background-color: rgb(145, 50, 50);
    margin: auto;
    height:70vh;

}

.images{

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* align-items: center; */
    margin:auto;
    padding:4rem;
    height: 100%;
    gap:3rem;
    width:80%;
    
}

/* .mom-1{

    flex:1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.mom-1 .mom-one-nike, .mom-1 .mom-two-nike{

    max-width:100%;
    max-height:100%;
    object-fit: cover;
} */

.mom-1{

    width:30vw;
    
    display:flex;
    justify-content:center;
    align-items: center;
    /* width:1200px; */
    /* flex:1; */
    height:100%;
    

}

.mom-1 .mom-one-nike{

    width:20vw;
    height:100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.mom-1 .mom-two-nike{

    margin-top: 6rem;
    width:20vw;
    height:100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

}