.mom-sec{

    width:100%;
    height:70vh;
    margin-top: 5rem;
    /* position: relative; */

}

.nike-moms{

    /* position: absolute ; */
    width:90%;
    background-color: brown;
    margin: auto;
    height:70vh;

}