.air-max{

    height:80vh;
    width:100%;
    margin-top: 5rem;
}

.header-title p{

    margin-bottom: 20px;
}

.air-cont{

    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    width:90%;
    margin:auto;
    /* margin-top: 20px; */
}

.max{

    display:flex;
    flex-direction:row;
    /* gap:2rem; */
    /* margin-left:2rem; */
}

.img-max{
    
    /* display: flex; */
    width:20%;
    height: 100%;
}

.shoe-img-max{

    display: flex;
    border:2px solid black;
    /* gap:2rem; */
    width:23vw;
    object-fit: cover;
    cursor:pointer;
    height: 100%;
}


@media screen and (max-width:768px){

    .shoe-img-max{

        width: 26vw;
        height: 100%;
    }

    .air-cont{

        width:100%;
    }
}