.air-max{

    height:80vh;
    width:100%;
    margin-top: 5rem;
}

.air-cont{

    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    width:80%;
    margin:auto;
    /* margin-top: 20px; */
}

.max{

    display:flex;
    flex-direction:row;
}

.img-max{
    
    gap:2rem;
    width:20%;
    height: 100%;
}

.shoe-img-max{

    width:20vw;
    object-fit: cover;
    height: 100%;
}