
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Gloria+Hallelujah&family=Mulish&family=Noto+Sans:ital,wght@0,400;1,300;1,400&family=Poppins:wght@300;400;500;600&family=Shantell+Sans&display=swap');

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}