.always-iconic{

    margin-top: 5rem;
    width:100%;

}

.iconic-cont{

    display: flex;
    width:90%;
    /* flex-direction: column; */
    /* gap:2rem; */
    margin:auto;
    /* margin-left: 20px; */
    margin-top: 40px;
}

.img-cont-iconic{

    display: flex;
    flex-direction: column;

}

.iconic-imgs{

    width:20vw;
    height:30vh;
    object-fit: cover;
}