.jordan{

    height:36px;
    width:100%;
    background-color: #f5f5f5;
   
}

.jordan-main{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:1200px;
    align-items: center;
}

.left-jordan{

    margin-left: 2rem;
    
}

.brand-icons{

    margin-left: 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.brand-icons:hover{

    color:#afa5a5
}

.navigations{

    display: flex;
    flex-direction: row;
    gap:2rem;
}

.navigations span{

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 13px;
}

.navigations .brand-titles:hover{

    color:#afa5a5;
}

.help{

    position: relative;
}

.showhelp{

    position: absolute;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out 0.2ms;
    width:200px;
    background-color: whitesmoke;
    padding: 2rem;
}

.hidehelp{

    display: none;
}

.showhelp .title{

    font-size: 15px;
    font-weight: bold;
}

.showhelp .list{

    text-align: center;
   
}

.list p{

    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.list p:hover{

    color:#afa5a5;
}

@media screen and (max-width:500px){


    .jordan{

        width:100%;
    }
    
}





