.jordan{

    height:36px;
    width:100%;
    background-color: #f5f5f5;
   
}

.jordan-main{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:1024px;
    align-items: center;
}

.left-jordan{

    margin-left: 2rem;
}

