.trending{

    width:100%;

    /* height:100vh; */
    margin-top: 10rem;
    
}

.header-trends{

    margin-bottom: 10px;
    font-weight: 700;
}

.image-conts{

    width:100%;
    height:100%;
    margin-top: 30px;

}

.img{

    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    width:80%;
}

.img-1 .nike-img-1{

    width:35vw;
    height: 60vh;
    object-fit: cover;
    position: relative;
}


.img-2 .nike-img-2{

    width:35vw;
    height: 60vh;
    object-fit: cover;
    position: relative;

}


