.trending{

    width:100%;

    /* height:100vh; */
    margin-top: 10rem;
    
}

.header-trends{

    margin-bottom: 10px;
    font-weight: 700;
}

.image-conts{

    width:100%;
    height:100%;
    margin-top: 30px;

}

.img{

    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    width:80%;
}

.nike-img-1{

    width:35vw;
    height: 60vh;
    object-fit: cover;
    position: relative;
}
.nike-img-2{

    width:35vw;
    height: 60vh;
    object-fit: cover;
    position: relative;

}

 /* .imgok-cont{

    display: flex;
    flex-direction: row;
    position: absolute !important;
    left:0;
    top:2px;
     top:0; 
    color:white;
}   */