.trending{

    width:100%;

    /* height:100vh; */
    margin-top: 10rem;
    
}

.header-trends{

    margin-bottom: 10px;
}

.image-conts{

    width:100%;
    height:100%;
    margin: auto;
}

.img{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
}

.img-1 .nike-img-1{

    width:30vw;
    height: 30vh;
    object-fit: cover;
}


.img-2 .nike-img-2{

    width:30vw;
    height: 30vh;
    object-fit: cover;

}